*{
	margin: 0;
	padding: 0;
	font-family:arial;
}

header{
	position:fixed;
	width:90%;
	top:0;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-right: 5%;
	padding-left: 5%;
	font-size: 20px;
	background-color: #3d5a80;
	z-index:999;
}

#logo{
	float:left;
	font-family:cursive;
	color: #e0fbfc;
	font-weight: bold;
	font-size: 28px;
	text-shadow: 1px 1px #9097fc;
}
nav{
	padding-top:8px;
	float: right;
	
}
ul>li{
	display:inline;
	list-style-type: none;
	padding: 14px;
	
}
ul>li>a{
	text-decoration: none;
	color: #e0fbfc;
	
}

.profile-section{
	width:100%;
	margin-top:6%;	
	text-align: center;
	background-image: url("../media/backgrou.jpg");
	background-size: 100%;
	background-repeat: repeat;	
}
@keyframes opaque{
	from {opacity: 0;}
	to {opacity: 1;}
}

.profile-card{
	display: inline-block;
	border-radius:10px;
	border: 2px solid #3d5a80;
	margin-top:6%;
	margin-bottom:6%;
	width:25%;
	background-color:#3d5a80;
	box-shadow: 0 6px 12px rgba(0,0,255,1);
	//animation-name: opaque;
	//animation-duration: 2s;
	//animation-iteration-count: 1;
}
.profile-card>img{
	margin:10%;
	max-width: 70%;
	border-radius:50%;
	box-shadow: 0 6px 12px rgba(0,0,78,0.5);
	
}
@keyframes profilehover{
	from{
		transform: scaleX(1) scaleY(1);
		
	}
	to{
		transform: scaleX(1.1) scaleY(1.1);
	}
	
}
.profile-card:hover{
	
	animation-name: profilehover;
	animation-duration: 2s;
	transform:scaleX(1.1) scaleY(1.1);
}

.intro{
	width:10%;
	color:#111111;
	position:absolute;
	top: 60%;
	left: 55%;
	color: #3d5a80;
	background-color: #f4f3f3;
	padding:12px;
	border-radius: 0 30px 30px 30px;
}

.work-exp{
	
	width: 70%;
	margin:auto;
	display:flex;
	flex-direction:column;
	box-shadow: 0 4px 8px rbga(0,0,78,0.5);
}

.work-exp-flex{
	width:95%;
	border: 1px solid ;
	text-align:left;
	padding: 20px;
	
}

.proj{
	width: 70%;
	margin:auto;
	display:flex;
	flex-direction:column;
	box-shadow: 0 4px 8px rbga(0,0,78,0.5);
}

.proj-flex{
	width:95%;
	margin-top:30px;
	border: 1px solid ;
	text-align:left;
	padding: 20px;
}

.Skill{
	width: 40%;
	margin:auto;
	display:flex;
	flex-direction:row;
	justify-content:center;
	border:1px solid;
	flex-wrap:wrap;
	margin-bottom:10%;
}

.Skill-flex{
	margin-left:25px;
	margin-top:20px;
	margin-bottom:20px;
	padding:20px;
	border: 1px solid ;
	text-align:center;
	color: #e0fbfc;
	background-color: #3d5a80;
	box-shadow: 0 6px 12px rbga(0,0,190,0.5);
	border-radius:10px;
}

footer{
	bottom:0;
	height:100px;
	width:100%;
	background-color: #293241;
	color: #ee6c4d;
	text-align:center;
}
footer>i{
	margin:10px;
	margin-top:40px;
}